.row {
  /* border:1px solid red; */
  display: flex;
  width: fit-content;
}

.wrap {
  /* border: 1px solid brown; */
  margin: 10px;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row2 {
  display: flex;
  margin: 10px;
  align-items: flex-end;
}

.btn {
  white-space: nowrap;
  margin-right: 10px;
}
